.header {
    transition: all 0.3s ease;
}

.scroll-header {
    padding-block: 0;
    background-color: white;
    /* Change to the color you prefer */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Add shadow for better visibility */
}

.active-link,
.nav__link:hover {
    color: #27baa0;
}